<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View Data</title>
        <style>
            /* CSS styles for text color */
            .original-color {
              color: black; /* Initial color */
            }
            
            .warning-color {
              color: red; /* Color to change to */
            }
        </style>
    </head>
    <body>
        <h1 class = "original-color">View Data</h1>
        <h3 id = "warning" class = "original-color"></h3>
        <button id = "start">Start Auto Updates</button>
        <button id = "stop">Stop Auto Updates</button>
        <button id = "download" onclick="downloadAllFiles()">Download All Files</button>
        <button id = "startAlert" >Start Alerts</button>
        <button id = "stopAlert">Stop Alerts</button>
        <br>
        <h3 id = "name" class = "original-color"></h3>
        <br>
        <img id = "latest-img" src=" ">
        <br>
        <p id = "latest-txt" class = "original-color"></p>
        <br>
        <audio id="audioPlayer" autoplay></audio>
     
        <script>
            //all variables, defining most of them to be global to improve performance and reduce memory allocated
            var updateIntervalId = null; //updates aren't set to automatically run upon page loading
            var updatesOn = false;
            var alertsOn = true;
            var homeURL = window.location.protocol + '//' + window.location.hostname;
            var responseText;
            var parser;
            var htmlDoc;
            var firstUrl = null;
            var secondUrl = null;
            var link = null;
            var warningElement = document.getElementById("warning");
            var warningText;
            var previousUrl1;
            var previousUrl2;
            var audioPlayer = document.getElementById('audioPlayer');;
            

            //starts updates when button is clicked
            document.getElementById("start").addEventListener("click", function(){
                if (!updateIntervalId) {
                    updatesOn = true;
                    // Call startUpdate() immediately
                    startUpdate();
                    // Call startUpdate() every 5 seconds and store the interval ID
                    updateIntervalId = setInterval(startUpdate, 5000);
                }
            });

            //stops updates when button is clicked
            document.getElementById("stop").addEventListener("click", function(){
                if (updateIntervalId) {
                    updatesOn = false;
                    // Clear the interval to stop the updates
                    clearInterval(updateIntervalId);
                    updateIntervalId = null; // Reset the interval ID
                }
            });

            //starts alerts when button is clicked (alerts are defaulted to always be on)
            document.getElementById("startAlert").addEventListener("click", function(){
                alertsOn = true;
            });

            //stops alerts when button is clicked
            document.getElementById("stopAlert").addEventListener("click", function(){
                alertsOn = false;
                setBackToOriginal();
            });

            //update function that sends XMLHttpRequest to homeurl to retrieve its contents and process them
            function startUpdate(){
                var gotImage = 0;
                var gotText = 0;
                warningText = " ";
                var xhr = new XMLHttpRequest();
                xhr.open('GET', homeURL, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var responseText = xhr.responseText;
                        var parser = new DOMParser();
                        var htmlDoc = parser.parseFromString(responseText, 'text/html');

                        var links = htmlDoc.querySelectorAll('a');
                        for(let i = 0; i < links.length; i++){
                    
                            link = links[i].href;
                 
                            if(gotImage === 0){
                                if(getFileExtension(link) === "jpg" || getFileExtension(link) === "png"){
                                    processImage(link);
                                    gotImage = 1;
                                }
                            }
                            if(gotText === 0){
                                if(getFileExtension(link) === "txt"){
                                    processText(link);
                                    gotText = 1;
                                }     
                            } 
                            if(gotImage === 1 && gotText === 1){
                                return;
                            }
                        }
                    };
                };
                xhr.send();
            }

            //note: this is only expecting urls with extensions that consist of 3 characters
            function getFileExtension(url){
                return url.substring(url.length - 3);
            }

            //extracts file name to display
            function extractFileName(url){
                return url.substring(url.lastIndexOf('/') + 1);
            }

            //downloads image, displays image and its name on web page, and stores name of image to compare
            //against next processed image so the same image doesn't get downloaded twice
            function processImage(url){
                var titleElement = document.getElementById("name");
                titleElement.innerHTML = url.substring(url.lastIndexOf('/') + 1);
                var imageElement;
                imageElement = document.querySelector("#latest-img");
                imageElement.src = url;
            }

            //downloads text, fetches content and displays it on web page, stores name of file to compare
            //against next processed txt file so the same file doesn't get downloaded twice, checks content for errors
            function processText(url){
                var txtReq = new XMLHttpRequest();
                //fetches text from downloaded file and displays it on html page
                fetchText(txtReq, url, function(text) {
                    if (text !== null) {
                        var textElement;
                        textElement = document.getElementById("latest-txt");
                        textElement.innerHTML = text; 
                        if(alertsOn)
                            checkForWarning(text);
                    } else {
                        //error handling
                        console.error('Failed to retrieve text');
                    }
                });
            }

            //fetches content from text file
            function fetchText(txtReq, secondUrl, callback) {
                txtReq.open('GET', secondUrl, false);
                txtReq.onload = function() {
                    if (txtReq.status === 200) {
                        var text = txtReq.responseText;
                        var formattedText = text.replace(/\n/g, "<br>");
                        callback(formattedText);
                    }
                };
                //error handling
                txtReq.onerror = function() {
                    console.error('Error:', txtReq.statusText);
                    callback(null);
                };
                txtReq.send();
            }
            
            //downloads either text or image file using fetch, blob, and a element
            function downloadFile(url) {
                var fileExtension = url.substring(url.length - 3);
                var a = document.createElement('a');
                a.style.display = 'none';
                document.body.appendChild(a);
                
                if (fileExtension === "txt") {
                    a.href = url;
                    a.download = url.split('/').pop();
                    a.click();
                } else {
                    fetch(url)
                    .then(response => response.blob())
                    .then(blob => {
                        a.href = URL.createObjectURL(blob);
                        a.download = url.split('/').pop();
                        a.click();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
                
                document.body.removeChild(a);
            }

            //downloads all files currently saved on the server
            function downloadAllFiles(){
                var xhr = new XMLHttpRequest();
                xhr.open('GET', homeURL, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var responseText = xhr.responseText;
                        var parser = new DOMParser();
                        var htmlDoc = parser.parseFromString(responseText, 'text/html');
                        var links = htmlDoc.querySelectorAll('a');
                        for (var i = 0; i < links.length; i++)
                            downloadFile(links[i].href);
                    }
                };
                xhr.send();
            }
            
            //checks inputted txt content for ice, fail, or low avg frequency and outputs warning text accordingly
            function checkForWarning(text){
                //resetting values
                var isIce = false;
                var isFail = false;
                var lowAvgFreq = false;
                var elements = Array.from(document.getElementsByClassName('warning-color'));
                if(!lowAvgFreq && !isFail && !isIce && elements.length > 0)
                  setBackToOriginal();
                warningText = " ";

                var lines = text.split(/<br>|[\r\n]+/);
                lines.forEach(function(line) {
                    //to save time, if all values are all true, just skip checking rest of the lines
                    if(lowAvgFreq && isFail && isIce)
                        return;
                    ///extracting values from each line
                    var iceMatch = line.match(/ICE:\s+(\d+)/);
                    var failMatch = line.match(/FAIL:\s+(\d+)/);
                    var avgMatch = line.match(/AVG:\s+(\d+)/);
                    if(iceMatch && iceMatch.length > 1 && parseInt(iceMatch[1]) === 1)
                        isIce = true;
                    if(failMatch && failMatch.length > 1 && parseInt(failMatch[1]) === 1)
                        isFail = true;
                    if (avgMatch && avgMatch.length > 1 && parseInt(avgMatch[1]) < 37000)
                        lowAvgFreq = true;
                });
                //moving these lines outside the loop so multiple of the same warnings don't appear
                if(isIce)
                    warningText += "Ice sensor detected ice.<br>"
                if(isFail)
                    warningText += "Ice sensor detected failure.<br>"
                if(lowAvgFreq)
                    warningText += "Average frequency is detected to be below 37000.<br>"
                if(isIce || isFail || lowAvgFreq)
                    playWarning();
            }

            //all warning features
            function playWarning(){
                //update warning text
                warningElement.innerHTML = warningText;
                var elements = document.getElementsByClassName('original-color');
                //turn all text to red
                for (var i = 0; i < elements.length; i++) 
                    elements[i].classList.add('warning-color');
                //play alert audio
                audioPlayer.src = homeURL + '/audio/bloop.wav';
                
            }
            
            //reset back to original display
            function setBackToOriginal() {
                warningElement.innerHTML = " ";
                var elements = document.getElementsByClassName('warning-color');
                //to ignore the delay in the class removal due to the asynchronous nature of the code
                var elements = Array.from(document.getElementsByClassName('warning-color'));
                elements.forEach(function(element) {
                    element.classList.remove('warning-color');
                });
                audioPlayer.pause();
            }
        </script>                                                                                
    </body>
</html>
